    
<div class="panel panel-default">
  <div class="panel-heading">
      <h1>List of Employees</h1>
  </div>
  <div class="panel-body">
      <table class="table table-striped table-bordered">
          <thead>
              <tr>
                  <th>Full Name</th>
                  <th>Note</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let employee of employees | async">
                  <td>{{ employee.firstName }} {{ employee.lastName }}</td>
                  <td>{{employee.notes}}</td>
                  <td><button (click)="deleteEmployee(employee.employeeID)">Delete</button>
                      <button (click)="employeeDetails(employee.employeeID)" class="btn btn-info" style="margin-left: 10px">Details</button>
                </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>